 <! DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ajouter une recette</title>

    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="container">
        <form id="addRecipeForm">
            Nom de la recette : <input type="text" name="name" /><br/>
            Nombre de personnes : <input type="text" name="serving" /><br/>
            Rempli le plat  : <input type="text" name="container" /><br/>
            <button id="addRecipeBtn">Valider</button>
        </form>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/addrecipe.js"></script>
  </body>
</html>